

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<hr class="bg-info w-50 mt-5">
<div class="container" style="background-color: #f7f7f7;">
    <div class="row col-12">
        <div class="col-lg-3 col-xs-12 mt-5 text-center">
            <h2>Broker Free</h2> <br>                
                <p><a routerLink="contactus" style="color: black; text-decoration: none; font-weight: bold;">For Buy/Rent</a></p>                                 
                <p><a routerLink="tenant-register" style="color: black; text-decoration: none; font-weight: bold;">For Owners</a></p>
                <p><a routerLink="-register1" style="color: black; text-decoration: none; font-weight: bold;">About Us</a></p>
                <p><a routerLink="contactus" style="color: black; text-decoration: none; font-weight: bold;">Contact Us</a></p>
                <p><a routerLink="admin" style="color: black; text-decoration: none; font-weight: bold;">Admin</a></p>                            
        </div>       
        <div class="col-lg-4 col-xs-12 mt-5 text-center">
            <h2>Contact Us</h2> <br>
            <p><a href="mailto:dhembarepravin777@gmail.com" style="color: black; text-decoration: none; font-weight: bold;">dhembarepravin777@gmail.com</a></p>
            <p><a href="" style="color: black; text-decoration: none; font-weight: bold;">+91 7709625968</a></p>                      
            <p style="color: black; font-weight: bold;">Thergaon, Pune. <br> Maharashtra <br> 411033</p>
        </div>
        <div class="col-lg-5 col-xs-12 mt-5 text-center">
            <h2>Connect with us</h2> <br> 
            <div style="display:flex; flex-direction: row; justify-content: center;">          
                <!-- Facebook -->
                <a class="nav-link" href="https://www.facebook.com/pravin.dhembare.942" target="_blank" style="color: black; text-decoration: none; font-weight: bold; font-size: 30px;">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>                        
                <!-- Instagram -->
                <a class="nav-link" href="https://www.instagram.com/dhembare_pravin?igsh=MWsyb20ydnh2ZzE0Mg==" target="_blank" style="color: black; text-decoration: none; font-weight: bold; font-size: 30px;">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>                        
                <!-- LinkedIn -->
                <a class="nav-link" href="https://www.linkedin.com/in/pravin777?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" style="color: black; text-decoration: none; font-weight: bold; font-size: 30px;">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>                        
                <!-- Portfolio -->
                <a class="nav-link" href="https://pravindhembare.netlify.app" target="_blank" style="color: black; text-decoration: none; font-weight: bold; font-size: 30px;">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </a> 
            </div>                       
        </div>
    </div>
</div>
<br>
<div class="container" style="background-color: rgb(204, 190, 190);">
    <span class="text-muted">All Rights Reserved 2024 @BrokerFree</span>
</div>
