<main>
<div class="container">
    <section class="section mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 pt-3">
                    <div class="about-img">
                        <img src="../../../assets/images/homepage.jpg" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
                <div class="col-lg-4 pt-5 pt-lg-8">
                    <div class="about-content">
                        <h3 class="font-weight-bold" style="text-align:left">Find, Buy & Own Your <br> Dream Home</h3>
                        <p>Explore from Apartments, land, villas and more...</p>                                 
                        </div>                       
                        </div>
            </div>
        </div>
    </section>
    <section class="container pt-5 mt-3">
        <div class="row">       
        <div class="col-lg-3 col-sm-6">            
                 <div class="card-body bg-gray text-center">
                    <a routerLink="tenant-login" style="color: black; text-decoration: none; font-weight: bold;">
                    <img src="../../../assets/images/a1.webp" class="img-fluid w-100 rounded" alt="">
                    <h6 class="card-title mt-3">Buying a Home</h6>
                    <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"> </a>                                  
                </div>
        </div>
        <div class="col-lg-3 col-sm-6">            
            <div class="card-body bg-gray text-center">
                <a routerLink="tenant-login" style="color: black; text-decoration: none; font-weight: bold;">
               <img src="../../../assets/images/a2.webp" class="img-fluid w-100 rounded" alt="">
               <h6 class="card-title mt-3">Renting a Home</h6>
               <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"></a>                                   
           </div>
        </div>
        <div class="col-lg-3 col-sm-6">            
            <div class="card-body bg-gray text-center">
                <a routerLink="owner-login1" style="color: black; text-decoration: none; font-weight: bold;">
               <img src="../../../assets/images/a3.webp" class="img-fluid w-100 rounded" alt="">
               <h6 class="card-title mt-3">Sell/Rent your Property</h6>
               <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"> </a>                                  
           </div>
        </div>
        <div class="col-lg-3 col-sm-6">            
            <div class="card-body bg-gray text-center">
                <a routerLink="tenant-login" style="color: black; text-decoration: none; font-weight: bold;">
               <img src="../../../assets/images/a4.webp" class="img-fluid w-100 rounded" alt="">
               <h6 class="card-title mt-3">PG and Co-living</h6>
               <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"></a>                                   
           </div>
        </div>
        
        </div>
    </section>
    
<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading text-center text-capitalize font-weight-bold py-5">
                 
                     <h4 class="display-4  text-center">Why to Choose Us?</h4>
                    <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;">
            </div>
          </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card my-3 my-lg-0">
                     <div class="card-body bg-gray text-center">
                        <h5 class="card-title">Avoid Brokers</h5>
                        <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;">
                        <p class="card-text">We directly connect you to owners to save brokerage</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card my-3 my-lg-0">
                        <div class="card-body bg-gray text-center">
                        <h5 class="card-title">Free Listing</h5>
                        <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;">
                        <p class="card-text">Easy listing process,using email</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card my-3 my-lg-0">
                    <div class="card-body bg-gray text-center">
                        <h5 class="card-title">Shortlist without Visit</h5>
                        <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;">
                        <p class="card-text">Extensive Information makes it easy</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card my-3 my-lg-0">
                    <div class="card-body bg-gray text-center">
                        <h5 class="card-title">Find, Buy & Own</h5>
                        <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;">
                        <p class="card-text">Explore from Apartments, land, villas and more</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
       <div  class="row text-center">
        <div class="col-lg-3 col-sm-12 text-center" >
        </div>
        <div class="col-lg-3 col-sm-12 mb-5">

            
        </div>
    </div>
    
 

   <app-footer></app-footer>
</div>
</main>